{% extends "layout.html" %}
{% block content %}
        <div class="container">
                <div class="jumbotron">
                        <h3 class="display-4" align="center">Read What Matters</h3>
                        <!-- <p class="lead">Jumbo helper text</p> -->
                        <p>Reviews play a pivotal role during purchase of a product online.<br>
                        Our project aims to reduce the friction and time that user spends reading these reviews.
                        </p>
                        <hr class="my-2">
                        <p>To Know More</p>
                        <p class="lead">
                                <a class="btn btn-primary btn-sm" href="https://github.com/veeravignesh1/Reviews-Ranker/" role="button">Project Github</a>
                        </p>
                </div>
                <div class="container">
                        <img src="../static/img/sir.jpg" class="img-fluid " alt="Image Of Mentor">
                </div>
                <br>
                <div class="container">
                        <img src="../static/img/team.jpg" class="img-fluid" alt="Image of Our Team">
                </div>
        </div>
{% endblock %}